<!--<app-nav-bar></app-nav-bar>-->
<app-nav-bar></app-nav-bar>
<app-footer></app-footer>
<!--<div class="container">-->
<!--  <div class ="row">-->
<!--    <div class ="col">-->
<!--      <app-header></app-header>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class = "row">-->
<!--    <div class = "col">-->
<!--      <app-home></app-home>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class = "row">-->
<!--    <div class = "col">-->
<!--      <app-footer></app-footer>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

